.Route_nav{
    position:fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
}

.Route_nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 3px;
    width: 100%;
    background-color:rgb(9, 15, 26);

  }

  .link {
    text-decoration: none;
    width: 20%;
    height: 90%;
   
  }

  .link svg {
    fill: rgb(174, 174, 174);
  }
  .link.active{
    background-color: #5f5c5c;
    border-radius: 5px;
  }
  .link.active svg {
    fill:rgb(255, 255, 255); /* Change to your desired active color */
  }

.Route_nav ul li{
  list-style: none;
  width: 100%;
 height: 100%;display: flex;
 justify-content: center;
 align-items: center;
}


  