.transfer{
    margin-top: 8rem;
}

.tokenbalance {
    display: flex;
    align-items: center;
   justify-content: center;
    min-height: 3rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 0 5px 0;
    border-radius: 8px;
    margin-bottom: 3rem;
  }

.transferbutton{
        background-color: rgba(61, 0, 61, 0.9);
        color: #fff;
        padding: 5px 10px;
        border: 1px solid rgba(211, 211, 211, 0.6);
        border-radius: 5px;
        font-size: 17px;
        font-weight: 500;
        margin-bottom:1rem;
        width: 270px;
        text-align: center;
}
.receiverId,.sendTokens{
    margin-bottom: 10px;
}

.receiverId{
    width: 270px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(68, 68, 68);
    outline: none;          
}

.sendTokens{
    width: 226px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(68, 68, 68);
    outline: none;          
}

.transferForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}