.tasksec_nav {
    position: absolute;
    top: 2rem;
  }
  
  .tasksec_nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0;
    min-width: 240px;
    border-bottom: 2px solid white;
  }
  
  .taskseclink {
    width: 99%;
    height: 99%;
    text-decoration: none;
    color: #fff;
  }
  
  .tasksec_nav ul li {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
  }
  
  .taskseclink.active {
    border-bottom: 1px solid #fbff00;
    letter-spacing: 2px;
    color: gold;
  }
  
  